:root.theme-light {
  --color-green: #000;
  --bakeground-color: white;
  --color-like-text: white;
  --fill-of-heart: white;
  --border-of-heard: black;
  --hover-fill-in-heard: red;
  --dialog-backeground: white;
  --dialog-text: black;
  --dialog--text-hover: white;
  --dialog-svg: black;
}
:root.theme-dark {
  --color-green: #00cc14;
  --bakeground-color: black;
  --color-like-text: black;
  --fill-of-heart: black;
  --border-of-heard: #00cc14;
  --hover-fill-in-heard: #00cc14;
  --dialog-backeground: black;
  --dialog-text: white;
  --dialog--text-hover: black;
  --dialog-svg: #00cc14;
}
